[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "<2"
fastapi = "*"
spellcaster = {file = "spellcaster", editable = true}
fire = "*"

[dev-packages]
jupyter = "*"
ipykernel = "*"
matplotlib = "*"

[requires]
python_version = "3.11"
