[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
opencv-python = "*"
numpy = "<2"
fastapi = "*"
spellcaster = {file = "spellcaster", editable = true}
fire = "*"
requests = "*"
python-dotenv = "*"
torch = {version = "*", index = "downloadpytorch"}
torchvision = {version = "*", index = "downloadpytorch"}

[dev-packages]
jupyter = "*"
ipykernel = "*"
matplotlib = "*"

[requires]
python_version = "3.11"
