<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Spellcaster{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/site.css"/>
</head>
<body>

<nav>
    <a class="navbar-brand" href="/">Spellcaster</a>
    <span>
        <a class="nav-item" href="/spells">Spells</a>
        <a class="nav-item" href="/actions">Actions</a>
    </span>


</nav>

<div class="main_content">
    {% block main_content %}{% endblock %}
</div>


<script src="https://unpkg.com/htmx.org@2.0.1"></script>

</body>
</html>